
.grow {
  flex-grow: 1
}

.link {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.link:hover {
  color: gray;
}

.right-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
